---
import BaseLayout from "@layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import Landing from "@components/Landing.astro";
import {getLocalePath,t } from "i18n:astro";
import "src/styles/service.less";

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import {getOptimizedImage} from "@utils/utils"
import landingImage from "@assets/images/WebBannerBackgroundIllustration.jpg" // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
const optimizedImage = await getOptimizedImage(landingImage)
---

<BaseLayout
  title={t("services:seo.landing")}
  description="Boost your rankings with expert SEO. We improve visibility, traffic, and conversions through keyword strategy, optimization, and link building."
  preloadedImage = {optimizedImage}
>
  <!-- ============================================ -->
  <!--                    LANDING                   -->
  <!-- ============================================ -->

  <Landing 
    title={t("services:seo.landing")} 
    image={optimizedImage}
    url="/services/seo"
  />

  <!-- ============================================ -->
  <!--            Side By Side Reverse              -->
  <!-- ============================================ -->

  <section id="sbsr-1363">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/seo.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/seo.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/seo.jpg" alt="people" width="605868" height="690">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">{t("services:seo.topper")}</span>
            <h2 class="cs-title">{t("services:seo.landing")} </h2>
            <p class="cs-text">
                {t("services:seo.p")}
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/black-check.svg" alt="checkmark" width="24" height="24">
                    {t("services:seo.l1")}
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/black-check.svg" alt="checkmark" width="24" height="24">
                    {t("services:seo.l2")}
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/black-check.svg" alt="checkmark" width="24" height="24">
                    {t("services:seo.l3")}
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/black-check.svg" alt="checkmark" width="24" height="24">
                    {t("services:seo.l4")}
                </li>
            </ul>
            <a href={getLocalePath("/contact")} class="cs-button-solid">{t("services:seo.cta")}</a>
        </div>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>
                                
<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-1675">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">{t("services:seo.steps.topper")}</span>
            <h2 class="cs-title">{t("services:seo.steps.title")}</h2>
            <p class="cs-text">
               {t("services:seo.steps.p")}
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">01</span>
                <h3 class="cs-h3">{t("services:seo.steps.s1.title")}</h3>
                <p class="cs-item-text">
                    {t("services:seo.steps.s1.p")}
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">02</span>
                <h3 class="cs-h3">{t("services:seo.steps.s2.title")}</h3>
                <p class="cs-item-text">
                    {t("services:seo.steps.s2.p")}
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">03</span>
                <h3 class="cs-h3">{t("services:seo.steps.s3.title")}</h3>
                <p class="cs-item-text">
                    {t("services:seo.steps.s3.p")}
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">04</span>
                <h3 class="cs-h3">{t("services:seo.steps.s4.title")}</h3>
                <p class="cs-item-text">
                    {t("services:seo.steps.s4.p")}
                </p>
            </li>
        </ul>
    </div>
</section>
  <CTA />
</BaseLayout>