---
import BaseLayout from "@layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import Landing from "@components/Landing.astro";
import {getLocalePath,t } from "i18n:astro";
import "src/styles/industries.less";

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import {getOptimizedImage} from "@utils/utils"
import landingImage from "@assets/images/WebBannerBackgroundIllustration.jpg" // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
const optimizedImage = await getOptimizedImage(landingImage)
---

<BaseLayout
  title={t("industries:professional-services.landing")}
  description="Boost your rankings with expert SEO. We improve visibility, traffic, and conversions through keyword strategy, optimization, and link building."
  preloadedImage = {optimizedImage}
>
  <!-- ============================================ -->
  <!--                    LANDING                   -->
  <!-- ============================================ -->

  <Landing 
    title={t("industries:professional-services.landing")} 
    image={optimizedImage}
    url="industries/professional-services"
  />

  <!-- ============================================ -->
  <!--            Side By Side Reverse              -->
  <!-- ============================================ -->

  <section id="sbsr-1363">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/professionalservices.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/professionalservices.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/professionalservices.jpg" alt="people" width="605868" height="690">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">{t("industries:professional-services.topper")}</span>
            <h2 class="cs-title">{t("industries:professional-services.landing")} </h2>
            <p class="cs-text">
                {t("industries:professional-services.p")}
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/black-check.svg" alt="checkmark" width="24" height="24">
                    {t("industries:professional-services.l1")}
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/black-check.svg" alt="checkmark" width="24" height="24">
                    {t("industries:professional-services.l2")}
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/black-check.svg" alt="checkmark" width="24" height="24">
                    {t("industries:professional-services.l3")}
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/black-check.svg" alt="checkmark" width="24" height="24">
                    {t("industries:professional-services.l4")}
                </li>
            </ul>
            <a href={getLocalePath("/contact")} class="cs-button-solid">{t("industries:professional-services.cta")}</a>
        </div>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>
                                
<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

<section id="faq-1741">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">{t("industries:professional-services.faq.topper")}</span>
            <h2 class="cs-title">{t("industries:professional-services.faq.title")}</h2>
            <a href={getLocalePath("/contact")} class="cs-button-solid">
                Ask Another Question
            </a>
        </div>
        <div class="cs-flex-group">
            <ul class="cs-faq-group">
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            {t("industries:professional-services.faq.q1.q")}
                        </span>
                    </button>
                    <p class="cs-item-text">
                        {t("industries:professional-services.faq.q1.a")}
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            {t("industries:professional-services.faq.q2.q")}
                        </span>
                    </button>
                    <p class="cs-item-text">
                        {t("industries:professional-services.faq.q2.a")}
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            {t("industries:professional-services.faq.q3.q")}
                        </span>
                    </button>
                    <p class="cs-item-text">
                        {t("industries:professional-services.faq.q3.a")}
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            {t("industries:professional-services.faq.q4.q")}
                        </span>
                    </button>
                    <p class="cs-item-text">
                        {t("industries:professional-services.faq.q4.a")}
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            {t("industries:professional-services.faq.q5.q")}
                        </span>
                    </button>
                    <p class="cs-item-text">
                        {t("industries:professional-services.faq.q5.a")}
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
  <CTA />
</BaseLayout>